.about {
  display: flex;
  justify-content: center;

  margin-top: 100px;

  &_cover {
    flex: 1 0 37%;
    margin-left: 12%;
  }

  &_title.section-title {
    margin-bottom: 35px;
  }

  &_message.section-message {
    margin-top: 0;
    margin-bottom: 60px;

    text-align: justify;
  }
}
