.about {
  margin-top: 100px;

  &_wrapper {
    display: flex;
    justify-content: center;
  }

  &_cover {
    flex: 1 0 37%;

    display: flex;
    align-items: center;

    margin-left: 12%;
  }

  &_title.section-title {
    margin-bottom: 5%;
  }

  &_message.section-message {
    margin-top: 0;
    margin-bottom: 9%;

    text-align: justify;
  }

  @media (max-width: 768px) {
    margin-top: 50px;

    &_wrapper {
      position: relative;

      flex-direction: column-reverse;
      align-items: center;
    }

    &_title.section-title {
      position: absolute;
      top:0;
      right: 50%;
      transform: translateX(+50%);

      margin-bottom: 35px;

      text-align: center;
    }

    &_message.section-message {
      margin-bottom: 35px;

      text-align: center;
    }

    &_cover {
      flex: 1 1 auto;
      width: 90%;

      margin-left: 0;
      margin-top: 85px;
    }
  }
}
