.header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: inherit;

  &.container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &_logo {
    flex: 0 1 17%;
  }

  &_menu {
    flex: 0 1 auto;
  }

  &_button.button {
    flex: 0 1 17%;
    text-align: center;
  }

  @media (max-width: 768px) {
    &_logo {
      flex: 0 1 max(17%, 120px);
    }

    &_menu {
      position: fixed;
      top: 0;
      right: -100%;

      margin-top: 99.2px;

      opacity: 0;

      visibility: hidden;

      transition: all 0.3s ease 0s;
    }

    &_menu.active {
      right: 0;

      visibility: visible;

      opacity: 1;
    }

    &_button.button {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &.container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &_menu {
      margin-top: 69.2px;
    }
  }

  @media (min-width: 769px) {
    &_burger {
      display: none;
    }
  }
}
