.header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: inherit;

  &.container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &_logo {
    flex: 0 1 17%;
  }

  &_menu {
    flex: 0 1 auto;
  }

  &_button.button {
    flex: 0 1 17%;
    text-align: center;
  }

  @media (max-width: 768px) {
    &_menu {
      display: none;
    }

    &_button.button {
      display: none;
    }
  }
}
