@use "../mixins/m_clear-list" as *;

.skills {
  margin-top: 50px;

  &_title.section-title {
    text-align: center;
    margin-bottom: 55px;
  }

  &_skill-list {
    @include clear-list;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
  }

  &_skill:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &_skill:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  @media (max-width: 768px) {
    &_title.section-title {
      margin-bottom: 35px;
    }

    &_skill-list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &_skill:first-child {
      grid-row-start: auto;
      grid-row-end: auto;
    }

    &_skill:last-child {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }
}
