.start {
  &_wrapper {
    display: flex;
    align-items: center;
  }

  &_cover {
    flex: 1 0 49%;

    display: flex;
    align-items: center;

    margin-left: 12%;
  }

  &_title.main-title {
    margin-bottom: 8%;
  }

  &_message.main-message {
    margin-bottom: 10%;
  }

  &_button.button {
    padding-left: 20%;
    padding-right: 20%;
  }

  &_title span {
    display: block;
  }

  @media (max-width: 768px) {
    &_wrapper {
      flex-direction: column-reverse;
    }

    &_cover {
      flex: 1 1 auto;
      width: 90%;
      margin: 0;
    }

    &_content {
      text-align: center;
    }

    &_title span {
      display: inline;
    }

    &_title.main-title {
      margin-bottom: 25px;
    }

    &_message.main-message {
      margin-bottom: 35px;
    }
  }

  @media (max-width: 480px) {
    &_button.button {
      width: 100%;
    }
  }
}
