.start {
  display: flex;
  align-items: center;

  &_cover {
    flex: 1 0 49%;

    display: flex;
    align-items: center;

    margin-left: 12%;
  }

  &_title.main-title {
    margin-bottom: 8%;
  }

  &_message.main-message {
    margin-bottom: 10%;
  }

  &_button.button {
    padding-left: 20%;
    padding-right: 20%;
  }
}
