$color--text: #8f95a5;
$color--text_dark: #000000;
$color--text_light: #ffffff;

$color--bg: #8f95a5;
$color--bg_dark: #000000;
$color--bg_light: #ffffff;

$color--border: #8f95a5;
$color--border_dark: #000000;
$color--border_light: #ffffff;
