@use "ds-system/ds-colors" as *;

html {
  height: 100%;

  font-size: 16px;

  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  color: $color--text;
  background-color: $color--bg_light;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h2:target:before {
  content: "";
  display: block;
  height: 135px;
  margin-top: -135px;
  visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
