// general
@use "libs/normalize.scss";
@use "visually-hidden.scss";
@use "scaffolding.scss";
@use "fonts.scss";

//blocks
@use "block/button.scss";
@use "block/form.scss";
@use "block/main-menu.scss";
@use "block/contentinfo.scss";
@use "block/main-title.scss";
@use "block/main-message.scss";
@use "block/section-title.scss";
@use "block/skill-card";
