@use "../ds-system/ds-colors" as *;

.button {
  display: inline-block;
  cursor: pointer;

  border: 2px solid $color--border_dark;

  &:hover:not(:active) {
    border: 2px solid $color--border_dark;
    background-color: transparent;
    color: $color--text_dark;
  }
}

.button__light {
  border: 2px solid $color--border_dark;
  background-color: $color--bg_light;
  color: $color--text_dark;

  &:hover:not(:active) {
    border: 2px solid transparent;
    background-color: $color--bg_dark;
    color: $color--text_light;
  }
}

.button__dark {
  background-color: $color--bg_dark;
  color: $color--text_light;
}

.button__size-s {
  border-radius: 5px;
  padding: 12px;

  font-size: clamp(0.88rem, calc(0.80rem + 0.37vw), 1.13rem)
}

.button__size-m {
  border-radius: 5px;
  padding: 17px;

  font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
}

.button__size-l {
  border-radius: 10px;
  padding: 20px;

  font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
}

.button__size-xl {
  border-radius: 15px;
  padding: 23px;

  font-size: clamp(1.13rem, calc(0.84rem + 1.41vw), 2.25rem);
}
