@use "../ds-system/ds-colors" as *;

.button {
  display: inline-block;
  cursor: pointer;
}

.button__light {
  border: 2px solid $color--border_dark;
  background-color: $color--bg_light;
  color: $color--text_dark;
}

.button__dark {
  background-color: $color--bg_dark;
  color: $color--text_light;
}

.button__size-s {
  border-radius: 5px;
  padding: 15px;

  font-size: clamp(0.88rem, calc(13rem + 0.47vw), 1.25rem);;
}

.button__size-m {
  border-radius: 5px;
  padding: 17px;

  font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
}

.button__size-l {
  border-radius: 10px;
  padding: 21px;

  font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
}

.button__size-xl {
  border-radius: 15px;
  padding: 25px;

  font-size: clamp(1.13rem, calc(0.84rem + 1.41vw), 2.25rem);
}
