@use "../ds-system/ds-colors" as *;

.form {
  width: 100%;

  display: flex;
  gap: 12px;

  &_email {
    flex: 1 1 auto;
    border: 1px solid $color--border;
    border-radius: 10px;
    padding: 21px;

    font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
  }

  &_submit {
    padding-left: 75px;
    padding-right: 75px;
  }
}
