@use "../ds-system/ds-colors" as *;
@use "../mixins/m_clear-list" as *;

.main-menu {
  &_list {
    @include clear-list;

    display: flex;
    gap: 40px
  }

  &_link {
    font-size: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
    color: $color--text_dark;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
    background-color: $color--bg_light;

    &_list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
