@use "../ds-system/ds-colors" as *;

.price-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  max-width: 500px;

  &_title {
    margin: 0;

    font-size: clamp(1.13rem, calc(0.94rem + 0.94vw), 1.88rem);
    color: $color--text_dark;
  }

  &_message {
    font-size: clamp(0.81rem, calc(0.77rem + 0.23vw), 1.00rem);
  }

  &_price {
    margin-top: auto;
  }

  &_cover {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 270px;

    margin-bottom: 20px;
  }

  &_image {
    max-height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    align-items: center;

    &_message {
      text-align: center;
    }
  }
}
