@use "../ds-system/ds-colors" as *;

.skill-card {
  display: flex;
  flex-direction: column;

  padding: min(3vw, 40px);

  background-color: $color--skill-bg;
  border-radius: 10px;

  &_cover {
    display: flex;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
  }

  &_title {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: clamp(1.13rem, calc(0.94rem + 0.94vw), 1.88rem);
    color: $color--text_dark;
  }

  &_message {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: clamp(0.81rem, calc(0.77rem + 0.23vw), 1.00rem);
    text-align: justify;
  }

  &_button {
    padding-right: min(5vw, 50px);
    padding-left: min(5vw, 50px);
    margin-top: auto;
  }

  &_image {
    object-fit: contain;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }

  @media (min-width: 769px) {
    &:last-child {
      flex-direction: row-reverse;
      gap: 20px;
    }

    &_content {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    &:nth-child(2) &_image,
    &:nth-child(3) &_image {
      height: auto;
      width: auto;
      max-height: min(15vw, 215px);
      max-width: 100%;
      margin-left: auto;
    }

    &:last-child &_image {
      //height: auto;
      //width: 100%;
      //max-width: 100%;
      //max-height: 100%;
    }
  }
}
