@use "../ds-system/ds-colors" as *;

.skill-card {
  display: flex;
  flex-direction: column;

  padding: min(3vw, 40px);

  background-color: $color--skill-bg;
  border-radius: 10px;

  &_cover {
    display: flex;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
  }

  &_title {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: clamp(1.13rem, calc(0.94rem + 0.94vw), 1.88rem);
    color: $color--text_dark;
  }

  &_message {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: clamp(0.81rem, calc(0.77rem + 0.23vw), 1.00rem);
    text-align: justify;
  }

  &_button {
    padding-right: min(3.5vw, 50px);
    padding-left: min(3.5vw, 50px);
    margin-top: auto;
  }

  &_image {
    width: auto;
    height: auto;
    max-height: min(16vw, 230px);
    max-width: 100%;
    margin-left: auto;
    object-fit: contain;
  }

  &:first-child &_image {
    max-height: none;
  }

  &:nth-child(2) &_cover {
    justify-content: flex-end;
  }

  &:last-child {
    flex-direction: row-reverse;
  }

  &:last-child &_cover {
    flex: 1 0 50%;
    align-items: center;
  }

  &:nth-child(2) &_content,
  &:nth-child(3) &_content {
    flex: 1 0 50%;
  }

  @media (max-width: 768px) {
    &_image {
      max-height: 230px;
    }

    &:first-child &_image {
      max-height: 230px;
    }

    &:last-child {
      flex-direction: column;
    }

    &:first-child &_content {
      flex: 1 0 50%;
    }

    &:last-child &_content {
      flex: 1 0 50%;
    }

    &:first-child &_cover {
      flex: 0 1 auto;
    }

    &:last-child &_cover {
      flex: 0 1 auto;
    }
  }
}
