@use "../ds-system/ds-colors" as *;
@use "../mixins/m_clear-list" as *;

.statistics {
  &_list {
    @include clear-list;

    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_num {
    font-size: clamp(1.50rem, calc(1.06rem + 2.22vw), 3.00rem);
    font-weight: 600;
    color: $color--text_dark;
  }

  &_text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.56vw), 1.25rem);
  }

  @media (max-width: 768px) {
    &_item {
      flex: 1 1 33%;
    }
  }

  @media (max-width: 480px) {
    &_list {
      flex-direction: column;
      gap: 30px;
    }
  }
}
