@use "../ds-system/ds-colors" as *;
@use "../mixins/m_clear-list" as *;

.statistics {
  &_list {
    @include clear-list;

    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_num {
    font-size: clamp(1.50rem, calc(1.13rem + 1.88vw), 3.00rem);
    font-weight: 600;
    color: $color--text_dark;
  }

  &_text {
    font-size: clamp(0.88rem, calc(0.78rem + 0.47vw), 1.25rem);
  }
}
